<%= form_for @student do |f| %>
  <div id="student-<%= @student.id %>" class="row">
      <div class="col-md-4 pr-1">
          <div class="form-group">
          <%= f.label :first_name, "First name", class: "label" %>
          <%= f.text_field :first_name, class: 'form-control', value: @student.first_name, autofocus: true %>
          </div>
      </div>
      <div class="col-md-4 px-1">
          <div class="form-group">
          <%= f.label :last_name, "Last name", class: "label" %>
          <%= f.text_field :last_name, class: 'form-control', value: @student.last_name, autofocus: true %>
          </div>
      </div>
      <div class="col-md-4 pl-1">
          <div class="form-group">
          <%= f.label :email, "Email", class: "label" %>
          <%= f.email_field :email, class: 'form-control', value: @student.email, autofocus: true %>
          </div>
      </div>
  </div>

<div class="row">
  <div class="col-md-4 pr-1">
      <div class="form-group">
      <%= f.label :dob, "Date of Birth", class: "label" %>
      <%= f.date_field :dob, class: 'form-control', value: @student.dob, autofocus: true  %>
      </div>
  </div>
  <div class="col-md-4 pl-1">
      <div class="form-group">
      <%= f.label :education, "Education", class: "label" %>
      <%= f.text_field :education, class: 'form-control', value: @student.education, autofocus: true %>
      </div>
  </div>
      <div class="col-md-4 pl-1">
      <div class="form-group">
    
      </div>
      </div>
  </div>

  <div class="row">
  <div class="col-md-4 pr-1">
      <div class="form-group">
      <%= f.label :password, "Temporary Password", class: "label" %>
      <%= f.text_field :password, class: 'form-control', autofocus: true %>
      </div>
      </div>
      
      <div class="col-md-4">
      <div class="form-group">
      <%= f.label :avatar, "Your Image", class: "label" %>
      <%= f.text_field :avatar, cols: 2, rows: 2, class: 'form-control', value: @student.avatar, autofocus: true %>
      </div>
      </div>
  </div>

  <div class="row">
      <div class="col-md-12">
      <%= f.label :cohort_ids, "Cohorts", class: "label" %>
        <div class="form-group">
          <%= f.collection_check_boxes(:cohort_ids, Cohort.all.order(:id), :id, :name, { include_hidden: false }, :multiple => true) do |cohort| %>
                <%= cohort.check_box %>&nbsp;<%= cohort.label %>
                &nbsp;
          <% end %>
        </div>
      </div>
    </div>  <!-- row2 -->

  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
      <%= f.label :bio, "Bio", class: "label" %>
      <%= f.text_area :bio, cols: 2, rows: 2, class: 'form-control', value: @student.bio, autofocus: true %>
      </div>
    </div>
      
  </div>
  <div class="actions col-md-3 text-center">
  <%= f.submit "Update", class: "btn btn-primary btn-round btn-lg btn-block mb-3"%>
  </div>
  
  <% end %>
  <div class="row delete float-right m-0">
    <%= link_to "Delete", student_path(@student), class: "btn btn-primary btn-round btn-lg btn-block mb-3", method: :delete, data: { confirm: "Are you sure?" } %>
    </div>
    