<div class="card card-user">
                
<div class="card-body">
    <div class="author">
         <img class="avatar thumb" src="<%= @student.avatar %>">
            <h5><%= @student.first_name %>&nbsp;<%= @student.last_name %></h5>
        <p class="description">
            <div class="table-responsive">
                <table class="table">
                <thead class=" text-primary">
                  <th>Cohort Id</th>
                  <th>Name</th>
                </thead>
                <tbody>
            <% @student.cohorts.each do |cohort| %>
                <tr>
                <td><%= cohort.id %></td>
                <td><%= cohort.name %></td>
                
                
            <% end %>
            </tr>
            </tbody>
            </table>
            </div>
       </p>
       
    </div>
    <p class="description text-center">
    <%= @student.bio %>
    </p>
</div>
<hr>
<div class="button-container">
    <button href="#" class="btn btn-neutral btn-icon btn-round btn-lg">
        <i class="fab fa-facebook"></i>
    </button>
    <button href="#" class="btn btn-neutral btn-icon btn-round btn-lg">
        <i class="fab fa-twitter"></i>
    </button>
    <button href="#" class="btn btn-neutral btn-icon btn-round btn-lg">
        <i class="fab fa-google-plus"></i>
    </button>
</div>
</div>
