<div class="content">
<div class="row">
    <div class="col-md-12">
    <div class="card">
    <div class="card-header row m-0">
    <h4 class="card-title col-md-8">Cohorts</h4>
    <div class="col-md-3 text-right">
    <a class="btn btn-primary btn-round btn-lg btn-block mb-3" href="/cohorts/new">
  <i class="now-ui-icons ui-1_simple-add pr-2"></i>
  <span>Create</span>
</a>
</div>
    </div>  <! -- card-header --> 
        <div class="card-body">
        <div class="table-responsive">
          <table class="table text-center">
            <thead class=" text-primary">
              <th>Cohort ID</th>
              <th></th>
              <th>Name</th>
              <th>Start Date</th>
              <th>End Date</th>
              <th>Instructor</th>
            </thead>
            <tbody>
            <% @cohorts.each do |cohort|%>   
                <tr id="cohort-<%= cohort.id %>">
      <td><%= cohort.id %></td>
  <td><div class="card-avatar list mx-auto">
  <%= image_tag (cohort.avatar), :class => ("default_sm list") %>
    </div>
    </td>
 <td><%= cohort.name %></td>
 <td><%= cohort.start_date %></td>
  <td><%= cohort.end_date %></td>
  <td><%= cohort.instructor.first_name %> <%= cohort.instructor.last_name %></td>
  <td><%= link_to("View", cohort_path(cohort), :class => 'view') %>
  </td>
  <td><%= link_to "Delete", cohort_path(cohort), class: "delete", remote: true,method: :delete, data: { confirm: "Are you sure?" } %></td>
  </tr>
  <% end %>
            </tbody>
            </table>
    </div>       
    </div>             
</div>  <!-- row --> 
</div>  <!-- content -->  